Repository marion-ott/SSDPxHetic, pull requests merged in 2020-05, with the labels that each got.

#23 Front/modal
  client/package.json
  client/src/atoms/Button.jsx
  client/src/atoms/Input.jsx
  client/src/atoms/Select.jsx
  client/src/atoms/Title.jsx
  client/src/atoms/index.jsx
  client/src/global/data/index.js
  client/src/graphql/mutations/auth.js
  client/src/graphql/mutations/hotels.js
  client/src/graphql/mutations/users.js
  client/src/graphql/queries/hotels.js
  client/src/graphql/queries/users.js
  client/src/index.css
  client/src/index.js
  client/src/molecules/InputGroup.jsx
  client/src/molecules/ListItem.jsx
  client/src/organisms/Form.jsx
  client/src/organisms/List.jsx
  client/src/organisms/Modal.jsx
  client/src/organisms/Nav.jsx
  client/src/organisms/index.jsx
  client/src/views/Details.jsx
  client/src/views/Employees.jsx
  client/src/views/Home.jsx
  client/src/views/Hotels.jsx
  client/src/views/Login.jsx
  client/yarn.lock
Labels: feature, frontend

#38 Automation/docker
  client/.dockerignore
  client/Dockerfile
  client/nginx/nginx.conf
  server/.dockerignore
  server/Dockerfile
Labels: automation, docker

#41 [FEATURE] pagination ok but bug change page
  client/src/index.css
  client/src/molecules/ListItem.jsx
  client/src/molecules/Pagination.jsx
  client/src/organisms/List.jsx
Labels: feature, frontend

#44 Automation/terraform
  .gitignore
  automation/terraform/README.md
  automation/terraform/application/main.tf
  automation/terraform/application/variables.tf
  automation/terraform/main.tf
  automation/terraform/variables.tf
Labels: automation, terraform
